<section id="registro">
  <div class="container">
    <header class="section-header">
      <h3> Registro </h3>
    </header>
    <form class="needs-validation" (ngSubmit)="registrar(forma)" #forma="ngForm" novalidate>
      <div class="seccionInterna">
      <hr>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nombre(s)</label>
          <input type="text" 
                 class="form-control" 
                 name="nombre" 
                 [(ngModel)] = "tutor.nombre" 
                 required
                 #nombre="ngModel">
          <div *ngIf="nombre.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>
        
        <div class="form-group col-md-6">
          <label> Apellidos</label>
          <input type="text" 
                 class="form-control" 
                 name="apellidos" 
                 [(ngModel)] = "tutor.apellidos" 
                 required
                 #apellidos="ngModel">
          <div *ngIf="apellidos.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Teléfono</label>
          <input type="number" 
                 class="form-control" 
                 name="telefono" 
                 [(ngModel)] = "tutor.telefono" 
                 required
                 #telefono="ngModel">
          <div *ngIf="telefono.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Correo</label>
          <input type="email" 
                 class="form-control" 
                 name="correo" 
                 [(ngModel)] = "tutor.correo" 
                 required
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 #correo="ngModel">
          <div *ngIf="correo.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="correo.errors?.pattern" class="invalid-feedback">
              No es un correo válido
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Dirección donde darás las asesorías</label>
          <input type="text" 
                class="form-control" 
                name="direccion"                 
                [(ngModel)]  = "tutor.direccion" 
                required
                #direccion="ngModel">
                <small id="emailHelp" class="form-text text-muted">Esta es la dirección que verán los alumnos </small>
          <div *ngIf="direccion.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>
      </div> 

        <div class="form-group row">
          <label class="col-md-1 col-form-label">Latitud:</label>
          <div class="col-md-3">
            <input type="text" 
                  class="form-control" 
                  name="latitud" 
                  [(ngModel)] = "tutor.latitud" 
                  required
                  #latitud="ngModel">    
            <div *ngIf="latitud.errors?.required" class="invalid-feedback">
              Este campo es requerido
            </div>            
          </div>   
          <label class="col-md-1 col-form-label">Longitud:</label>
          <div class="col-md-3">
            <input type="text" 
                  class="form-control" 
                  name="Longitud" 
                  [(ngModel)] = "tutor.longitud" 
                  required
                  #longitud="ngModel">
            <div *ngIf="longitud.errors?.required" class="invalid-feedback">
              Este campo es requerido
            </div>                
          </div> 
          <div class="col-md-4">       
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#videoObtenerMapa">¿Cómo obtengo la latitud y longitud?</button>
          </div>  
        </div>  
        
        <small class="form-text text-muted">Con la latitud y longitud se harà màs exacta la ubicación</small>     
      </div>
      <br>
      <div class="seccionInterna">
      <label>Elija las materias que te interesa asesorar: </label>
      <br><br>
      <div class="form-row"> 
        <div class="col-md-2"> Primaria: </div>
        <div class="col-md-10">
          <div class="form-check form-check-inline" *ngFor="let materia of materiasPrimaria; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxP' + (i + 1)" value="option1" 
              [(ngModel)]="materia.checked" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" [for]="'inlineCheckboxP' + (i + 1)"> {{ materia.nombreMateria }}</label>
          </div>
        </div> 
      </div>
      <hr>
      <div class="form-row"> 
        <div class="col-md-2"> Secundaria: </div>
        <div class="col-md-10">
          <div class="form-check form-check-inline" *ngFor="let materia of materiasSecundaria; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxS' + (i + 1)" value="option1" 
              [(ngModel)]="materia.checked" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" [for]="'inlineCheckboxS' + (i + 1)"> {{ materia.nombreMateria }}</label>
          </div>
        </div> 
      </div>
      <hr>
      <div class="form-row"> 
        <div class="col-md-2"> Bachillerato: </div>
        <div class="col-md-10">
          <div class="form-check form-check-inline" *ngFor="let materia of materiasBachillerato; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxB' + (i + 1)" value="option1" 
              [(ngModel)]="materia.checked" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" [for]="'inlineCheckboxB' + (i + 1)"> {{ materia.nombreMateria }}</label>
          </div> 
        </div>
      </div>
      <hr>
      <div class="form-row"> 
        <div class="col-md-2"> Universidad: </div>
        <div class="col-md-10">
          <div class="form-check form-check-inline" *ngFor="let materia of materiasUniversidad; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'inlineCheckboxU' + (i + 1)" value="option1" 
              [(ngModel)]="materia.checked" [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" [for]="'inlineCheckboxU' + (i + 1)"> {{ materia.nombreMateria }}</label>
          </div> 
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comentarios: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="comentarios"rows="3" [(ngModel)] = "tutor.comentarios"></textarea>
      </div>
      </div>
      <br><br>
      <div class="row col-md-2 offset-md-4 block">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>

  <!-- Modal para obtener las coordenadas-->
<div class="modal fade" id="videoObtenerMapa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">¿Cómo obtengo las coordenadas?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal registro duplicado -->
  <div class="modal fade" id="registroDuplicado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <div>La ubicación colocada ya está registrada con este correo electrónico</div>
            <div><img src="erroe.png"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal error inesperado -->
  <div class="modal fade" id="errorInesperado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <div>Ocurrió un error inesperado, intenté el registro màs tarde.</div>
            <div><img src="erroe.png"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal registro exitoso-->
  <div class="modal fade" id="registroExistoso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <div>El registro se realizò exitosamente, muy pronto recibirás el correo de confirmación</div>
            <div><img src="erroe.png"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>