<section id="beneficios">
    <div class="container">
      <header class="section-header">
        <h3> Beneficios</h3>
      </header>
      <div class="row funcionamiento-container">   
          <div class="col-md"> 
            <h4 class="subtitle"> Para los profesores </h4>            
            <div class="icon-box">
              <div class="icon">
                <fa-icon icon="user-plus" size="2x"></fa-icon>
              </div>
              <h4 class="title">Registro</h4>
              <p class="description">Llena tus datos de contacto, asì como tu ubicación y las materias que te interesa asesorar. </p>       
            </div>
            <div class="icon-box">
                <div class="icon">
                  <fa-icon icon="clock" size="2x"></fa-icon>
                </div>
                <h4 class="title">Esperar confirmación</h4>
                <p class="description">En menos de una semana te llegará un correo confirmando tu registro. </p>       
              </div>
              <div class="icon-box">
                  <div class="icon">
                    <fa-icon icon="dollar-sign" size="2x"></fa-icon>
                  </div>
                  <h4 class="title">Realizar pago</h4>
                  <p class="description">Una vez que la app móvil esté disponible te llegará un correo para que realices el pago via paypal y asi aparecer dentro de la aplicación móvil. </p>       
                </div>
          </div>
          <div class="col-md">
              <div class="row funcionamiento-container">             
                  <div class="col-md">
                      <h4 class="subtitle"> Para los alumnos </h4>
                      <div class="icon-box">
                        <div class="icon">
                          <fa-icon icon="download" size="2x"></fa-icon>
                        </div>
                        <h4 class="title">Descarga</h4>
                        <p class="description">Una vez que la app esté disponible, entra a Google Store y descárgala.  </p>       
                      </div>
                      <div class="icon-box">
                          <div class="icon">
                            <fa-icon icon="search" size="2x"></fa-icon>
                          </div>
                          <h4 class="title">Busca</h4>
                          <p class="description">Elige la materia de la cual requieres asesoría y el rango de bùsqueda.  </p>       
                        </div>
                        <div class="icon-box">
                            <div class="icon">
                              <fa-icon icon="handshake" size="2x"></fa-icon>
                            </div>
                            <h4 class="title">Contacta</h4>
                            <p class="description">De la lista de profesores encontrados, ponte de acuerdo con alguno de ellos para tu asesoría.  </p>       
                          </div>
                  </div>
                </div>
          </div>
        </div>   
    </div>
  </section>
  
  