<section id="beneficios">
    <div class="container">
      <header class="section-header">
        <h3> Beneficios</h3>
      </header>
      <div class="row beneficios-container">   
          <div class="col-md"> 
            <h4 class="subtitle"> Para los profesores </h4>            
            <div class="icon-box">
                <div class="icon">
                  <fa-icon icon="clock" size="2x"></fa-icon>
                </div>
                <h4 class="title">Ingresos</h4>
                <p class="description">Tu decides cuanto cobrar por las asesorías una vez que te contacten los alumnos. </p>       
              </div>
              <div class="icon-box">
                  <div class="icon">
                    <fa-icon icon="dollar-sign" size="2x"></fa-icon>
                  </div>
                  <h4 class="title">Cercanìa</h4>
                  <p class="description">Ya que te localizarán alumnos cerca de ti los desplazamientos serán cortos </p>       
                </div>
          </div>
          <div class="col-md">
              <div class="row funcionamiento-container">             
                  <div class="col-md">
                      <h4 class="subtitle"> Para los alumnos </h4>
                      <div class="icon-box">
                        <div class="icon">
                          <fa-icon icon="download" size="2x"></fa-icon>
                        </div>
                        <h4 class="title">Cercanía</h4>
                        <p class="description">Una vez que la app esté disponible, entra a Google Store y descárgala.  </p>       
                      </div>
                      <div class="icon-box">
                          <div class="icon">
                            <fa-icon icon="search" size="2x"></fa-icon>
                          </div>
                          <h4 class="title">Diversidad</h4>
                          <p class="description">Elige la materia de la cual requieres asesoría y el rango de bùsqueda.  </p>       
                        </div>
                  </div>
                </div>
          </div>
        </div>   
    </div>
  </section>
  
  