<section id="funcionamiento">
  <div class="container">
    <header class="section-header">
      <h3> Pasos a seguir </h3>
    </header>
    <div class="row funcionamiento-container">   
        <div class="col-md"> 
          <h4 class="subtitle"> Para los profesores </h4>            
          <div class="icon-box">
            <div class="icon">
              <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
            </div>
            <h4 class="title">Registro</h4>
            <p class="description">Llena tus datos de contacto, asì como tu ubicación y las materias que te interesa asesorar. </p>       
          </div>
          <div class="icon-box">
              <div class="icon">
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
              </div>
              <h4 class="title">Esperar confirmación</h4>
              <p class="description">Te llegará un correo confirmando tu registro. </p>       
            </div>
            <div class="icon-box">
                <div class="icon">
                    <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                  </div>
                <h4 class="title">Realizar pago</h4>
                <p class="description">Se te enviará un correo para que realices el pago via paypal y asi aparecer dentro de la aplicación móvil. </p>       
              </div>
        </div>
        <div class="col-md">
            <div class="row funcionamiento-container">             
                <div class="col-md">
                    <h4 class="subtitle"> Para los alumnos </h4>
                    <div class="icon-box">
                      <div class="icon">
                        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                      </div>
                      <h4 class="title">Descarga</h4>
                      <p class="description">Entra a Google Store y descárgala.  </p>       
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="title">Busca</h4>
                        <p class="description">Elige la materia de la cual requieres asesoría y el rango de bÚsqueda.  </p>       
                      </div>
                      <div class="icon-box">
                          <div class="icon">
                            <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
                          </div>
                          <h4 class="title">Contacta</h4>
                          <p class="description">De la lista de profesores encontrados, ponte de acuerdo con alguno de ellos para tu asesoría.  </p>       
                        </div>
                </div>
              </div>
        </div>
      </div>   
  </div>
</section>

