<section id="funcionamiento">
  <div class="container">
    <header class="section-header">
      <h3> ¿Cómo funciona? </h3>
    </header>
    <div class="row funcionamiento-container">
        <div class="col-md">
          <h4 class="subtitle"> Para los profesores </h4>
          <div class="icon-box">
            <div class="icon">
              <i class="fas fa-user"></i> 
            </div>
            <h4 class="title">Registro</h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
          </div>
          <div class="icon-box">
              <div class="icon">
                <i class="fas fa-user"></i> 
              </div>
              <h4 class="title">Enviar pago</h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
            </div>
            <div class="icon-box">
                <div class="icon">
                  <i class="fas fa-user"></i> 
                </div>
                <h4 class="title">Esperar</h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
              </div>
        </div>
        <div class="col-md">
          
        </div>
      </div>

      <div class="row funcionamiento-container">
          <div class="col-md">
            
          </div>
          <div class="col-md">
              <h4 class="subtitle"> Para los alumnos </h4>
              <div class="icon-box">
                <div class="icon">
                  <i class="fas fa-user"></i> 
                </div>
                <h4 class="title">Registro</h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
              </div>
              <div class="icon-box">
                  <div class="icon">
                    <i class="fas fa-user"></i> 
                  </div>
                  <h4 class="title">Enviar pago</h4>
                  <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
                </div>
                <div class="icon-box">
                    <div class="icon">
                      <i class="fas fa-user"></i> 
                    </div>
                    <h4 class="title">Esperar</h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
                  </div>
          </div>
        </div>
  </div>
</section>

