<section id="funcionamiento">
  <div class="container">
    <header class="section-header">
      <h3> Pasos a seguir </h3>
    </header>
    <h4 class="subtitle"> Para los profesores </h4>
    <div class="row funcionamiento-container">       
        <div class="col-md">         
          <div class="icon-box">
            <div class="icon">
              <fa-icon icon="user-plus" size="2x"></fa-icon>
            </div>
            <h4 class="title">Registro</h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
          </div>
          <div class="icon-box">
              <div class="icon">
                <fa-icon icon="clock" size="2x"></fa-icon>
              </div>
              <h4 class="title">Esperar confirmación</h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
            </div>
            <div class="icon-box">
                <div class="icon">
                  <fa-icon icon="dollar-sign" size="2x"></fa-icon>
                </div>
                <h4 class="title">Realizar pago</h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
              </div>
        </div>
        <div class="col-md">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <h4 class="subtitle"> Para los alumnos </h4>
      <div class="row funcionamiento-container">
          <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md">
              <div class="icon-box">
                <div class="icon">
                  <fa-icon icon="download" size="2x"></fa-icon>
                </div>
                <h4 class="title">Descarga</h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
              </div>
              <div class="icon-box">
                  <div class="icon">
                    <fa-icon icon="search" size="2x"></fa-icon>
                  </div>
                  <h4 class="title">Busca</h4>
                  <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
                </div>
                <div class="icon-box">
                    <div class="icon">
                      <fa-icon icon="handshake" size="2x"></fa-icon>
                    </div>
                    <h4 class="title">Contacta</h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  </p>       
                  </div>
          </div>
        </div>
  </div>
</section>

