<div id="header" class="fixed-top header-scrolled">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="logo float-left">
            <img src="assets/img/Thuton-13.png">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav smooth-scroll">
                  <li class="nav-item active">
                    <a class="nav-link" href="#home" >Inicio</a>
                  </li>                
                  <li class="nav-item">
                    <a class="nav-link" href="#beneficios">Beneficios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#funcionamiento">Pasos a seguir</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#registro">Registro</a>
                  </li>
                </ul>
          </div>
        </div>
      </nav>
  </div>
</div>

