<div id="header" class="fixed-top header-scrolled">
  <div class="container">
    <div class="logo float-left">
      <img src="image.png">
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light float-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav smooth-scroll">
                <li class="nav-item active">
                  <a class="nav-link" href="#home" >Inicio</a>
                </li>                
                <li class="nav-item">
                  <a class="nav-link" href="#beneficios">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#funcionamiento">Pasos a seguir</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#registro">Registro</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
  </div>
</div>

