<section id="footer">
    <div class="container">
      <header class="section-header">
        <h3> Beneficios</h3>
      </header>
      <div class="row beneficios-container">   
          <div class="col-md"> 
            <h4 class="subtitle"> Para los profesores </h4>            
          </div>
          <div class="col-md">
            <div class="row funcionamiento-container">             
                <div class="col-md">
                    <h4 class="subtitle"> Para los alumnos </h4>
                </div>
              </div>
          </div>
        </div>      
    </div>
  </section>
  
  